

<% if @user.id == session[:user_id] %>

  <a href="#"><h2 class="edit_name"><%= @user.name%></h2></a>
  <a href="/profile/<%=@user.id%>/change_password" class="change_pass"> Change your password </a>
  <div id="cadre">

    <form action="/profile/<%= @user.id%>/update_image" method="post" class="hidden_form" style="display:none" pure-form>
      <fieldset>
      <input type="hidden" name="_method" value="put">
      <input type="text" name = "photo_url" placeholder="photo_url" class="input">
      <input type="submit">
    </fieldset>
    </form>

    <form action='/profile/<%=@user.id%>/change_password' method="post" class="hidden_password" style="display:none" class="pure-form">
      <fieldset>
      <input type="hidden" name="_method" value="put">
      <input type="password" name="password" placeholder="Edit password" class="input">
      <input type="password" name="password_confirmation" placeholder="Password confirmation" class="input">
      <input type="submit">
      </fieldset>
    </form>


    <div class="image">
       <a href="#" class="change_pic">
        <img src="<%=@user.photo_url%>" class="profile_pic" alt="Click to change your image">
        <div class="textimage">Click on the image to edit it</div>
       </a>
    </div>
  </div>
<% else %>
  <h2><%= @user.name%></h2>
  <div id="cadre">
    <img src="<%=@user.photo_url%>">
  </div>
<%end%>